@page

@model Calendar.Pages.CalendarModel
@{
    ViewData["Title"] = "Calendar";
}

<h2>@Model.MonthName @Model.Year</h2>
<table class="table">
    <thead>
        <tr>
            <th>Sun</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < 6; i++)
        {
            <tr>
                @for (int j = 0; j < 7; j++)
                {
                    <td>
                        @if (Model.MonthArray[i, j] > 0)
                        {
                            await Html.RenderPartialAsync("DayPartial", Model.MonthArray[i, j]);
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
