@page "{year?}/{month?}"

@model Calendar.Pages.CalendarModel
@{
    ViewData["Title"] = "Calendar";
}

<h2>Calendar</h2>
<table>
    @for (int i = 0; i < 6; i++)
    {
        <tr>
            @for (int j = 0; j < 7; j++)
            {
                <td>
                    @if (Model.Calendar.CurrentMonth[i, j] > 0)
                    {
                        await Html.RenderPartialAsync("DayPartial", Model.Calendar.CurrentMonth[i, j]);
                    }
                </td>
            }
        </tr>
    }
</table>
