@page
@model Calendar.Pages.SelectYearModel
@{
    ViewData["Title"] = "SelectYear";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-8">
        <h2>@Model.DecadeBeginYear - @Model.DecadeEndYear</h2>
    </div>
    <div class="col-4">
        <div class="float-right">
            <a class="btn btn-light" href="/SelectYear/@Model.PreviousDecadeBeginYear-@Model.PreviousDecadeEndYear">
                <i class="fas fa-angle-up"></i>
            </a>
            <a class="btn btn-light" href="@Model.NextDecadeBeginYear-@Model.NextDecadeEndYear">
                <i class="fas fa-angle-down"></i>
            </a>
        </div>
    </div>
</div>
<table class="table">
    @for (int i = 0; i < 4; i++)
    {
        <tr>
            @for (int j = 0; j < 4; j++)
            {
                <td>
                    @if (Model.YearsArray[i, j] > 0)
                    {
                        <div>
                            <a class="text-dark" href="/SelectMonth/@Model.YearsArray[i, j]">@Model.YearsArray[i, j]</a>
                        </div>
                    }
                </td>
            }
        </tr>
    }
</table>

